.speech {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.song {
    font-family: sans-serif, Helvetica, Arial;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.direction {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: rgb(157, 228, 169);
}

.direction:hover {
    background-color: #42a58b;
    color: rgb(4, 24, 114);
}

.name {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.name:hover {
    text-shadow: 2px 2px 6px #42a58b;
    border-bottom: 2px solid #42a58b;
    cursor: default;
}

.mrsp {
    color: #1a5276;   
}

.const {
    color: #7d3c98;   
}

.drd {
    color: #1e8449;   
}
.sirm{
    color: #d35400;   
}
.alex{
    color: #117a65;   
}

.chorus {
    color: #b7770d;   
}

.ladies {
    color: #a93226;   
}

.villagers {
    color: #6e6e6e;  
}


table {
  border-collapse: collapse;
  width: 60%;
  margin: 30px auto;
  font-family: Helvetica, Arial, sans-serif;
}


th, td {
  border: 2px solid green;
  padding: 12px;
  text-align: left;
}


th {
  background-color: #1e8449;
  color: white;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(200, 200, 200);
}
